.createAdd-icon {
    overflow: hidden;
    position: relative;
    background-color: rgba(18, 18, 18, 0.04);
    border-radius: 8px;
    padding: 20px;
}

.back-button {
    background: rgba(18, 18, 18, 0.04);
    border-radius: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 5px;
    height: 40px;
    width: 40px;
    justify-content: center;

}
.create-heading {
    padding-top: 100px;
}
.create-heading h2 {
    padding-bottom: 20px;
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
}
.create-box {
    display: flex;
    text-align: center;
    margin-top: 30px;
    padding: 24px 32px 24px 24px;
    border-radius: 12px;
    max-width: 664px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 32px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 16px;
    background-color: rgb(255, 255, 255);
    transition: box-shadow 400ms ease-out 0s, transform 400ms ease-out 0s;
}
.create-spacing {
    padding: 12px 64px;
}
.create-app-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}
.create-p {
    padding-top: 16px;
    font-size: 16px;
}
.create-box-titel h2 {
    font-size: 30px;
    font-weight: 600;
}
/* .create-easticon {
    margin: 0 auto;
} */
.create-box:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 24px;
    background-color: rgb(255, 255, 255);
    transform: translate(0px, -4px);
    cursor: pointer;
}
.cteare-Learn-more {
    padding-top: 25px;
}
.cteare-Learn-more a {
    color: rgba(59, 130, 246, .5) !important;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 500;
}
.create-spacing a {
    color: rgb(18, 18, 18);
}

.create-spacing a h2 {
    font-size: 20px;
}

.create-app-icon .icon {
    display: flex;
}

.createHeader-app {
    padding: 1rem 2rem;
}
.createheader-icon {
    height: 40px;
    width: 40px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(18, 18, 18, 0.04);
    color: rgb(18, 18, 18);
    display: flex;
}
.createheader-box {
    display: flex;
    gap: 25px;
}
.createheader-titel {
    display: flex;
    align-items: center;
}
.createheader-box h2 {
font-size: 20px;
font-weight: 600;
}

.collection-titel h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    padding-bottom: 20px;
    max-width: 600px;
}
.collection-p p {
    font-size: 16px;
    line-height: 24px;
    max-width: 590px;
    padding-bottom: 32px;
}
.collection-logo-heading {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding-bottom: 10px;
}
.collection-logo-heading h6 {
    font-size: 16px;
}
.collection-icon {
    display: flex;
}
.collection-uploded-main {
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid rgb(236 236 236);
    padding: 24px 35px;
    border-radius: 12px;
    margin-bottom: 20px;
    cursor: pointer;
}
.collection-uploded-main:hover, .collection-uploded-main:hover .collection-uploded-box{
    border: 1px solid rgba(18, 18, 18, 0.32);
}
.collection-uploded-box {
    border-radius: 12px;
    border: 1px dashed rgba(18, 18, 18, 0.32);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection-uploded-title h6 {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 8px;
}
.collection-uploded-title p {
    font-size: 16px;
    padding-bottom: 8px;
}
.collection-button {
    padding-bottom: 20px;
}
.collection-btn .MuiFormControl-root.MuiTextField-root {
    width: 100%;
}
.collection-btn .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary{
    border-radius: 12px;
}
.Blockchain-main {
height: 100%;
}
.Blockchain-box {
padding: 20px 20px 10px 20px;
    outline: 1px solid rgba(18, 18, 18, 0.32);
    border-radius: 12px;
    min-height: 197px;
cursor: pointer;
}
.Blockchain-box:hover{
outline: rgb(18, 18, 18) solid 2px;
}
.Blockchain-image {
    padding-bottom: 1.5rem;
}
.Blockchain-image svg {
    background: rgb(18 18 18 /4%);
    width: 32px;
    height: 32px;
    border-radius: 100px;
}
.Blockchain-heading h6 {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
}
.Blockchain-title1 p {
    font-size: 14px;
    background-color: rgba(18, 18, 18, 0.04);
    width: 100px;
    padding: 2px;
    border-radius: 5px;
    text-align: center;
}
.Blockchain-title2 {
    max-width: 150px;
    padding-top: 5px;
    line-height: 25px;
}
.Blockchain-title2 p {
    font-size: 14px;
}
.deploy-main {
    display: flex;
    align-items:flex-start;
    gap: 20px;
    padding: 10px;
}
.deploy-icon svg {
    width: 25px;
    height: 25px;
}
.deploy h6 {
    font-size: 16px;
    font-weight: 600;
    color: rgb(18, 18, 18);
}
.deploy-title h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: rgb(84, 84, 84);
}
.deploy-title p {
    font-size: 14px;
    line-height: 20px;
    color: rgb(84, 84, 84);
}

.deploy-box {
    background: rgba(18, 18, 18, 0.04);
    border-radius: 1rem;
    padding: 2rem;
}


.Choose-blockchain-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.Choose-blockchain-title h4 {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 25px;
}
.Choose-blockchain-title svg {
    width: 23px;
    height: 23px;
}
.Choose-blockchain-main {
    display: flex;
    gap: 30px;
    align-items: center;
    border: 1px solid rgb(18 18 18 /8%);
    border-radius: 12px;
    padding: 7px 16px;
    margin-top: 20px;
    cursor: pointer;
}
.Choose-blockchain-box-main {
    border: none !important;
    border-radius: 12px;
}
.Choose-blockchain-box{
    overflow-y: scroll;
        height: 330px;
        padding-right: 30px;
}
.Choose-blockchain-main:hover{
border-color: rgb(18 18 18 /32%);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}
.main-box {
    padding-top: 72px;
    padding-bottom: 150px;
}


.createAdd-btn {
    display: flex;
    align-items: center;
    gap: 30px;
    background: rgb(246 246 246);
    border-radius: 12px;
padding: 12px 12px 12px 16px;
}
.createAdd-icon svg {
    /* background: rgba(18, 18, 18, 0.04); */
    /* padding: 15px; */
    border-radius: 10px;
    width: 25px;
    height: 25px;
}

.collection-btn button {
    width: 100%;
    padding: 2px 0;
    border-radius: 12px;
    font-size: 20px;
    text-transform: none;
}

.collection-icon button {
    border: none;
    color: #000;
    font-size: 16px;
}
.collection-icon button:hover{
    border: none;
}
.collection-button.add{
    padding-bottom: 30px;
}
.collection-uploded-main.createadd {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 600px;
   border: 1px dashed rgba(18, 18, 18, 0.32);
cursor: pointer;
padding: 0;
}
.collection-uploded-title h3 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(32 129 226);
    padding-bottom: 10px;
}
.collection-uploded-title.addmax {
    color: rgb(84 84 84);
}
.collection-uploded-title h5 {
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 8px;
    letter-spacing: 1px;
}
.collection-uploded-main.createadd:hover {
    background: rgb(246 246 246);
   border: 1px solid rgba(18, 18, 18, 0.32);
}
.createadd-container {
    padding-left: 4rem;
    padding-right: 4rem;
}
.createheader-icon a {
    color: rgb(18, 18, 18);
}
.create-footer {
    background: rgb(245 245 245);
    bottom: 0px;
    left: -21px;
    right: 0px;
    position: fixed;
    width: 100%;
    z-index: 100;
    text-align: end;
}
.create-footer-button {
    padding: 10px 40px;
}
.create-footer-button button {
    padding: 8px 18px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
}

.Advanced-settings.Blockchain-box {
margin-top: 20px;
    min-height: auto;
}
.Advanced-settings.Blockchain-box p {
    font-size: 14px;
}
.Advanced-settings.Blockchain-box p.pp {
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.collection-Blockchain {
    padding-bottom: 30px;
}
.Advanced-title {
border-top: 1px solid rgb(18 18 18 /8%);
    padding-top: 20px;
    display: flex;
    align-items: center;
    color: rgb(84 84 84);
    gap: 5px;
}
.cteare-Learn-more.Advanced-more{
    padding-top: 5px;
}
.Advanced-title h6 {
    font-size: 14px;
    color: rgb(84 84 84);
}
.transitn-effect {
    transition: all 0.3s ease-in-out;
}

.transitn-effect.rotate-icon-transition {
    transform: rotate(-180deg);
}


/* .collection-uploded-box .collection-uploded-icon:nth-child(2) {
    display: none;
}
.collection-uploded-box:hover .collection-uploded-icon:nth-child(1) {
    display: none;
}
.collection-uploded-box:hover .collection-uploded-icon:nth-child(2) {
    display: block;
} */
.collection-uploded-box .collection-uploded-icon:nth-child(1) {
    transition: all 0.6s ease-in-out;
    transform: translateY(0);
    width: 100%;
        height: 100%;
}
.collection-uploded-box .collection-uploded-icon:nth-child(2) {
    transition: all 0.5s ease-in-out;
    transform: translateY(100%);
    width: 100%;
        height: 100%;
            position: absolute;
                left: 0;
}
.collection-uploded-box{
    position: relative;
    overflow: hidden;
}
.collection-uploded-box .collection-uploded-icon {
    width: 100%;
    height: 100%;
        display: flex;
            align-items: center;
            justify-content: center;
}

.collection-uploded-box {
    flex-direction: column;
        flex-wrap: wrap;
}
.collection-uploded-box .collection-uploded-icon svg{
    font-size: 16px;
}

.collection-uploded-main:hover .collection-uploded-icon:nth-child(1){
transform: translateY(-100%) !important;
}
.collection-uploded-main:hover .collection-uploded-icon:nth-child(2) {
    transform: translateY(0%) !important;
}

.create-main-nft-body .explore-cllection-slide {
    margin: 0;
}
.create-main.create-main-nft-body {
    height: 100vh;
    overflow: hidden;
}
.create-main.create-main-nft-body a.collection-cover-link{
    border-radius: 0;
}
.Deploying-contract p {
    font-size: 14px;
    color: rgb(84 84 84);
}
.Deploying-contract span {
    font-size: 16px;
    font-weight: 600;
}

.createadd-container fieldset.MuiOutlinedInput-notchedOutline, .collection-main fieldset.MuiOutlinedInput-notchedOutline, .collection-button fieldset.MuiOutlinedInput-notchedOutline {
    border: 1px solid rgba(0, 0, 0, 0.23) !important;
}
.profile-image-outer .profile-image-outer{
    background-color: #000;
}




Button.delete{
display: none;
}
.collection-uploded-main:hover Button.delete{
    color: #000;
    font-size: 20px;
    display: block;
}
.upload-image-create-nft-small {
    height: 100px;
    width: 100px;
    /* object-fit: cover; */
    border-radius: 12px;
    overflow: hidden;
}
.upload-image-create-nft-small img {
    /* width: 100%; */
    object-fit: cover;
    width: 100px;
    height: 100%;
}
.uploaded-img-inner-small-img-name {
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 18px !important;
    font-weight: 600;
}

.uploaded-img-outer-small-img-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.collection-uploded-main:hover Button.delete:active .uploaded-img-outer-small-img-name{
display: none;
}
/* button.delete.DELETE-ICON-NEW {
    position: relative;
    z-index: 9999;
} */
button.delete.DELETE-ICON-NEW {
    position: absolute;
    z-index: 9999;
    right: 0;
    top: 26px;
}
.collection-uploded-main.createadd .upload-image-create-nft-small{
    width: 661px !important;
    height: 661px !important;
    padding: 0 !important;
    position: relative;
}
.collection-uploded-main.createadd .upload-image-create-nft-small img {
    /* object-fit: cover; */
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.collection-uploded-main.createadd .collection-uploded-main{
    padding: 0 !important;
    margin-bottom: 0 !important;
}
.deleted-func {
    position: absolute;
    z-index: 9999;
    right: 0;
    top: 0;
    background: #9b9b9b21;
    width: 100%;
    height: 100%;
    text-align: right;
    justify-content: flex-end;
    /* display: flex; */
    align-items: flex-start;
}
.deleted-func:hover{
    display: flex;
}
a.Create-a-new-collection {
    text-decoration: none;
    color: #000;
}

/* mobile responsive */
@media (max-width: 991.98px) {
.create-main.create-main-nft-body .explore-cllection-slide {
    display: none;
}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .create-main.create-main-nft-body .collection-cover-link img{
    height: 100vh;
}
}
@media (min-width: 768px) and (max-width: 1199.98px) {
.collection-uploded-main.createadd .upload-image-create-nft-small {
    width: 100% !important;
    height: 661px !important;
    padding: 0 !important;
    position: relative;
}
.collection-uploded-main.createadd .upload-image-create-nft-small img {
    object-fit: initial;
    width: 100%;
    height: 100%;
}
}
@media (max-width: 767.98px) {
    .uploaded-img-inner-small-img-name, .collection-uploded-main {
        flex-direction: column;
    }
    .uploaded-img-outer-small-img-name {
        justify-content: center;
    }

.create-spacing {
        padding: 10px 5px !important;
    }
    .collection-uploded-main.createadd .upload-image-create-nft-small {
        width: 100% !important;
        height: 661px !important;
        padding: 0 !important;
        position: relative;
    }
    .collection-uploded-main.createadd .upload-image-create-nft-small img {
        object-fit: initial;
        width: 100%;
        height: 100%;
    }
.create-heading {
    padding-top: 0px;
    -webkit-box-align: center;
    align-items: end !important;
    -webkit-box-pack: end;
    display: flex;
    height: 100%;
}
.create-heading h2 {
    padding-bottom: 60px;
    font-size: 32px;
    line-height: 56px;
    font-weight: 600;
    color: #fff;
    padding-left: 15px;
}
.create-spacing-mobile {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(../../img/create-bg.png);
    height: 42.857vw;
        width: 100vw;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: end;
        justify-content: end;
}

.create-main.create-main-nft-body .explore-cllection-slide {
    display: none;
}
.create-spacing a h2 {
    font-size: 16px;
}
.create-p {
    font-size: 14px;
}
.cteare-Learn-more {
    font-size: 16px;
}
.createheader-box h2 {
    font-size: 16px;
    width: 150px;
}
.main-box {
    padding-top: 20px;
}
.collection-titel h2 {
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 10px;
    max-width: 600px;
}
.collection-p p {
    font-size: 14px;
    line-height: 20px;
    max-width: 590px;
    padding-bottom: 20px;
}
.collection-uploded-box {
    border: none;
    margin: 20px;
}
.collection-uploded-title p {
    font-size: 14px;
        line-height: 22px;
        color: rgb(84,84,84);
}
.collection-uploded-title h6 {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}
.collection-uploded-main-title {
    /* max-width: 100px; */
    text-align: center;
}
.collection-button {
    padding-bottom:0px;
}
.collection-Blockchain {
    padding-top: 20px;
}
.Blockchain-title2 {
    max-width: 210px;
    padding-top: 5px;
    line-height: 20px;
}
.Blockchain-image {
    padding-bottom: 0.5rem;
}
.Blockchain-box {
    min-height: 130px;
}
.Blockchain-heading-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.deploy-box {
    display: none;
}
.cteare-Learn-more.Advanced-more h6 {
    font-size: 16px;
}
.cteare-Learn-more.Advanced-more p {
    font-size: 14px;
}
.cteare-Learn-more.Advanced-more p a {
    font-size: 14px;
}
.Advanced-settings.Blockchain-box h6 {
    font-size: 16px;
}
.Advanced-settings.Blockchain-box p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
color: rgb(84, 84, 84);
}
.create-footer {
    text-align: center;
    left: 0px;
}
.create-footer-button button {
    width: 100%;
}
.createheader-icon {
    height: 40px;
    width: 40px;
    padding: 8px;
}
.create-box-mobile {
    padding-left: 10px;
    padding-right: 10px;
}
.createadd-container {
    padding-left: 1rem;
    padding-right: 1rem;
}
.collection-uploded-main.createadd {
    height: 300px;
        justify-content: start;
}
.collection-uploded-main-title.collection-uploded-mobile {
    max-width: 228px;
}
.collection-uploded-title.addmax p {
    line-height: 18px;
}
.collection-uploded-box .collection-uploded-icon.uploded-icon-mobile {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}
.collection-uploded-title h5 {
    font-size: 18px;
}
.collection-uploded-title h3 {
    font-size: 14px;
    padding-bottom: 5px;
}
.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-12.MuiGrid-grid-md-12.MuiGrid-grid-lg-6.MuiGrid-grid-xl-6.collection-mobile {
    padding-top: 30px;
}
.createAdd-btn {
    color: #000;
}
.collection-btn p {
    font-size: 14px;
}
.createAdd-text h6 {
    font-size: 16px;
}
}
