/* .CollectionStats-container {
    padding-left: 1rem;
    padding-right: 1rem;
} */
.CollectionStats-heading h1 {
    font-size: 48px;
        font-weight: 600;
        padding-top: 64px;
        padding-bottom: 24px;
        line-height: 56px;
}
.flex-box-all-chains-view-all.MuiBox-root.css-0 {
    border-bottom: 1px solid rgba(18, 18, 18, 0.08);
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
.CollectionStats-all-categories.all-chains-view-all svg {
right: 10px;
}
.CollectionStats-all-categories.all-chains-view-all fieldset.MuiOutlinedInput-notchedOutline {
    border:none;
}
.CollectionStats-container .all-chains-view-all {
    display: flex;
        align-items: center;
        gap: 6px;
        width: 88%;
        background: rgba(18, 18, 18, 0.04);
        border-radius: 13px;
}
.CollectionStats-container .MuiTabs-root.inner-tabs.inner-tabs-trend{
    position: relative;
    width: 100%;
    top: 0px;
    left: -3%;
    margin-left: 0px;
}
.CollectionStats-container .MuiTabs-root.inner-tabs.inner-tabs-top .MuiTabs-flexContainer,
.MuiTabs-root.inner-tabs.inner-tabs-trend .MuiTabs-flexContainer{
    gap: 5px;
}
.CollectionStats-container .flex-box-all-chains-view-all .MuiTabs-root.outer-tabs .MuiTabs-scroller .MuiTabs-flexContainer button.Mui-selected,
.MuiTabs-root.inner-tabs.inner-tabs-top .MuiTabs-flexContainer button.Mui-selected,
.MuiTabs-root.inner-tabs.inner-tabs-trend .MuiTabs-flexContainer button.Mui-selected {
    background: #fff;
    border-radius: 10px;
    color: #000;
    padding: 10px;
}
.CollectionStats-container .flex-box-all-chains-view-all .MuiTabs-root.outer-tabs .MuiTabs-scroller .MuiTabs-flexContainer,
.MuiTabs-root.inner-tabs.inner-tabs-top .MuiTabs-flexContainer,
.MuiTabs-root.inner-tabs.inner-tabs-trend .MuiTabs-flexContainer {
    background: rgba(18, 18, 18, 0.04);
    border-radius: 10px;
    overflow: hidden;
    padding: 2px;
}

.CollectionStats-tab3  .MuiTabs-root.inner-tabs.inner-tabs-trend {
     position: relative;
     width: 63%;
     top: 0px;
     left: -3%;
     margin-left: 0px;
 }
 .CollectionStats-tab3 {
     display: flex;
     justify-content: end;
 }
 .CollectionStats-container .collections-outer {
    justify-content: start;
 }
 .CollectionStats-container .flex-box-all-chains-view-all .MuiTabs-root.outer-tabs .MuiTabs-scroller .MuiTabs-flexContainer button.Mui-selected{
    background: rgba(18, 18, 18, 0.04);
        font-size: 16px;
    color: rgb(18, 18, 18);
        font-weight: 600;
        text-transform: none;
 }
 .CollectionStats-container .flex-box-all-chains-view-all .MuiTabs-root.outer-tabs .MuiTabs-scroller .MuiTabs-flexContainer{
    background: none;
 }
 .CollectionStats-container .flex-box-all-chains-view-all .MuiTabs-root.outer-tabs .MuiTabs-scroller .MuiTabs-flexContainer button,
 .MuiTabs-root.inner-tabs.inner-tabs-top .MuiTabs-flexContainer button,
 .MuiTabs-root.inner-tabs.inner-tabs-trend .MuiTabs-flexContainer button {
     color: #000;
    text-transform: none;
    color: rgb(84, 84, 84);
    font-size: 16;
    font-weight: 600;
 }
 .MuiTabs-root.inner-tabs.inner-tabs-trend .MuiTabs-flexContainer button:hover img{
    color: rgb(18, 18, 18) !important;
    box-shadow: none;
 }
.CollectionStats-container div.lr-padding-remove>.MuiBox-root {
     padding-right: 1rem;
     padding-top: 34px;
     padding-left: 1rem;
 }
.CollectionStats-container table.MuiTable-root th{
     font-size: 14px;
     font-weight: 600;
    color: rgb(84, 84, 84);
        border-bottom: none;
 }
.CollectionStats-container table.MuiTable-root td {
     font-size: 16px;
     font-weight: 600;
        border-bottom: none;
 }
 .CollectionStats-table button img{
    width: 30px;
 }
 .Collection-table-image-hover{
    display: flex;
    align-items: center;
    gap: 3px;
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
 }
 .Collection-table-image-hover img{
    width: 70px;
 }
 .collection-stat-body-part {
    padding: 0 40px;
}
.CollectionStats-all-categories.all-chains-view-all.all-chains-main-mobile {
    display: none;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.collection-stat-body-part{
    overflow: hidden;
}
.MuiTabs-root.inner-tabs.inner-tabs-trend .MuiTabs-flexContainer::-webkit-scrollbar {
height: 0 !important;
}

.CollectionStats-tab3 .MuiTabs-root.inner-tabs.inner-tabs-trend{
    width: auto;
}
.All-chains-desktop .MuiTabs-flexContainer, .CollectionStats-tab3 .MuiTabs-flexContainer {
    width: auto !important;
}
@media (min-width: 1px) and (max-width: 575.98px) {
    .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiMenu-paper.MuiPopover-paper.MuiMenu-paper {
        top: auto !important;
        left: 0 !important;
        width: 100% !important;
        bottom: 0;
    }
}
@media (max-width:767px) {
.collection-stat-body-part {
            padding: 0px 20px;
    }
    .CollectionStats-table .MuiGrid-root.MuiGrid-item{
        max-width: 100% !important;
    }
    .CollectionStats-table .MuiGrid-root.MuiGrid-container {
        display: flex;
        flex-direction: column;
    }
.CollectionStats-heading h1 {
        font-size: 32px;
    }
.CollectionStats-container .MuiTabs-root.inner-tabs.inner-tabs-trend {
    position: relative;
    width: 100%;
    top: 0px;
    left: 0%;
    margin-left: 0px;
}
.CollectionStats-heading h1 {
    padding: 0 !important;
}
.CollectionStats-container div.lr-padding-remove>.MuiBox-root{
    padding-left: 0 !important;
}
.All-chains-desktop {
    display: none;
}
.CollectionStats-all-categories.all-chains-view-all.all-chains-main-mobile {
    display:block;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiMenu-paper.MuiPopover-paper.MuiMenu-paper {

    top: auto !important;
    left: 0 !important;
    width:100% !important;
    bottom: 0;
}
}

@media (min-width: 768px) and (max-width: 991.98px) {
.CollectionStats-table .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2 {
    display: flex;
        align-items: baseline;
}
.MuiTabs-root.inner-tabs.inner-tabs-trend .MuiTabs-flexContainer{
    overflow-x: scroll;
    /* width: max-content; */
}
.CollectionStats-tab3 .MuiTabs-root.inner-tabs.inner-tabs-trend .MuiTabs-flexContainer{
    width: max-content;
} 
.All-chains-desktop {
    width: max-content;
    margin-left: 20px;
}
.CollectionStats-tab3 .MuiTabs-root.inner-tabs.inner-tabs-trend{
    width: auto;
}
.All-chains-desktop .MuiTabs-root.inner-tabs.inner-tabs-trend{
    width: 80%;
}
}
@media (max-width:991px) {
.CollectionStats-heading h1 {
    padding: 0 !important;
}
.CollectionStats-container div.lr-padding-remove>.MuiBox-root{
    padding-left: 0 !important;
}
.CollectionStats-table .MuiGrid-root.MuiGrid-item{
    padding-top: 16px;
}
.CollectionStats-tab3{
justify-content: center !important;
}
.MuiTabs-root.inner-tabs.inner-tabs-trend .MuiTabs-flexContainer{
    overflow-x: scroll;
    width: max-content;
}
.All-chains-desktop .MuiTabs-flexContainer, .CollectionStats-tab3 .MuiTabs-flexContainer {
    width: auto !important;
}
.All-chains-desktop {
    width: max-content;
    margin-left: 20px;
}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
.all-chains{
    padding-left: 0 !important;
}
.All-chains-desktop .MuiTabs-flexContainer, .CollectionStats-tab3 .MuiTabs-flexContainer {
    width: auto !important;
}
.All-chains-desktop {
    width: 528px;
    margin-left: 20px;
}
.CollectionStats-tab3 .MuiTabs-root.inner-tabs.inner-tabs-trend .MuiTabs-flexContainer {
    width: auto;
}
.MuiTabs-root.inner-tabs.inner-tabs-trend .MuiTabs-flexContainer{
    overflow-x: scroll;
    /* width: max-content; */
}
.CollectionStats-tab3 .MuiTabs-root.inner-tabs.inner-tabs-trend .MuiTabs-flexContainer{
    /* width: max-content; */
} 
.All-chains-desktop {
    margin-left: 20px;
}
.All-chains-desktop .MuiTabs-root.inner-tabs.inner-tabs-trend{
    width: 80%;
}
.watchlist .All-chains-desktop{
    width: auto;
}
}
@media (min-width: 1200px) and (max-width: 1440px) {
    .All-chains-desktop {
        width: 800px;
        margin-left: 20px;
    }

    .All-chains-desktop .MuiTabs-flexContainer, .CollectionStats-tab3 .MuiTabs-flexContainer {
        width: auto !important;
        overflow-x: scroll;
    }
    .All-chains-desktop .MuiTabs-root.inner-tabs.inner-tabs-trend{
        width: 80%;
    }
}